<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Create Event</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:text="${errorMsg}" style="color:red"></p>

<form method="POST" action="/events/create"><!--Don't actually need action-->
    <div class="from-group">
        <label>Name
            <input type="text" name="name" class="form-control"/>
        </label>
    </div>

    <div class="from-group">
        <label>Description
            <input type="text" name="description" class="form-control"/>
        </label>
    </div>

    <div class="from-group">
        <label>Contact Email
            <input type="text" name="contactEmail" class="form-control"/>
        </label>
    </div>

    <div class="from-group">
        <input type="submit" value="Create Event" class="btn btn-success" />
    </div>
</form>

</body>
</html>