<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<table class="table table-striped">
        <thead>
        <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Contact Email</th>
                <th>Location</th>
                <th>Registration Required?</th>
                <th>Category</th>
        </tr>
        </thead>
        <tr th:each="event : ${events}">
                <td  th:text="${event.id}">Display event ID here</td>
                <td  th:text="${event.name}">Display event here</td>
                <td  th:text="${event.eventDetails.description}">Display description here</td>
                <td  th:text="${event.eventDetails.contactEmail}">Display contact email here</td>
                <td  th:text="${event.eventDetails.location}">Display location here</td>
                <td  th:text="${event.eventDetails.isRegistrationRequired} == true ? 'Yes' : 'An Error Occurred'">Display if registration required here</td>
                <td  th:text="${event.eventCategory.name}">Display type here</td>
        </tr>
</table>

</body>
</html>