<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table table-hover">
        <thead>
        <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
        </tr>
        </thead>

        <tr th:each="event : ${events.entrySet()}">
                <td  th:text="${event.getKey()}">Display event name here</td>
                <td th:text="${event.getValue()}">Display event description here</td>
                <td th:replace="fragments :: address"></td>
        </tr>
</table>

</body>
</html>