<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: navigation"></header>

<form method="POST" action="/eventCategories/create"><!--Don't actually need action-->
    <div class="form-group">
        <label>Category Name
            <input th:field="${eventCategory.name}" class="form-control"/>
        </label>
    </div>
    <p class="error" th:errors="${eventCategory.name}"></p>
    <div>
        <input type="submit" value="Create Category" class="btn btn-success" />
    </div>
</form>

</body>
</html>